<ion-header>
    <ion-toolbar>
        <ion-icon (click)="back()" name="arrow-dropleft-circle"></ion-icon>
    </ion-toolbar>
    <ion-img src="/assets/mark.png"></ion-img>
</ion-header>

<ion-content>

    <ion-grid class="main_content">

        <ion-row class="content_header">
            <ion-col class="header_image" size='12' style="background-image: url('/assets/counter.jpg')">
                <div class="title">
                    <p>
                        <span class="main">Aparecida</span>
                        <span class="sub">San Paulo</span>
                    </p>
                    <div class="action">
                        <ion-item lines="none">
                            <ion-icon name="star" slot="start"></ion-icon>
                            <ion-label>Adicionar aos favoritos</ion-label>
                            <ion-icon name="log-out" slot="end"></ion-icon>
                        </ion-item>
                    </div>
                </div>
            </ion-col>

            <ion-col class="content_description">
                <div class="avalie">
                    <p>Avaliacao:</p>
                    <div class="star-ratings-sprite" slot="start">
                        <span class="star-ratings-sprite-rating" style="width:25%"></span>
                    </div>
                    <button class="outline" slot="start">Abalie</button>
                </div>

                <p class="title">Sobre a Cidade</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscring elitrm sedb eirmod tempor invidunt ut labore et
                    dolore magna aliquyam eratm sed diam voluptua</p>
                <p class="read_more">
                    <ion-icon name="arrow-dropdown"></ion-icon>
                </p>
            </ion-col>
        </ion-row>

        <ion-row class="slider">
            <p class="title">Galeria da Cidade</p>
            <ion-col size="12">
                <div class="gallery">
                    <div class="card">
                        <ion-img src="/assets/aparecida.jpg"></ion-img>
                    </div>
                    <div class="card">
                        <ion-img src="/assets/aparecida.jpg"></ion-img>
                    </div>
                    <div class="card">
                        <ion-img src="/assets/aparecida.jpg"></ion-img>
                    </div>
                    <div class="card">
                        <ion-img src="/assets/aparecida.jpg"></ion-img>
                    </div>

                </div>
            </ion-col>

        </ion-row>

        <p class="service_title">O que esta procurando</p>
        <ion-row class="services">
            <ion-col>
                <button>
                    <ion-icon name="call"></ion-icon>
                    <p>Saude & Estetica</p>
                </button>
            </ion-col>
            <ion-col>
                <button>
                    <ion-icon name="logo-facebook"></ion-icon>
                    <p>Hotels & Pousadas</p>
                </button>
            </ion-col>
            <ion-col>
                <button>
                    <ion-icon name="logo-whatsapp"></ion-icon>
                    <p>Restaurantes & Cafes</p>
                </button>
            </ion-col>
            <ion-col>
                <button>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <p>Sorveterias & Acai</p>
                </button>
            </ion-col>
            <ion-col>
                <button>
                    <ion-icon name="browsers"></ion-icon>
                    <p>Escolas & Educacao</p>
                </button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col class="ion-text-center" size="12">
                <button class="active" style="font-size: 16px;" (click)="openpage13()">
                    <ion-icon name="restaurant"></ion-icon>
                    Cardapio
                    <ion-icon name="restaurant"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="ion-text-center" size="12">
                <button class="outline" style="font-size: 16px;">Como Chegar</button>
            </ion-col>
        </ion-row>

        <ion-row class="review_container">
            <ion-col size="12">
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <img src="/assets/team-1.jpg">
                    </ion-avatar>
                    <ion-label>
                        <h3>Harry Potter</h3>
                        <p>Muito LOKO</p>
                    </ion-label>
                    <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:50%"></span>
                    </div>
                </ion-item>
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <img src="/assets/team-2.jpg">
                    </ion-avatar>
                    <ion-label>
                        <h3>Lory Jan</h3>
                        <p>Amei o Lugar, super reveptivo e divertido!</p>
                    </ion-label>
                    <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:15%"></span>
                    </div>
                </ion-item>
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <img src="/assets/team-3.jpg">
                    </ion-avatar>
                    <ion-label>
                        <h3>Bod Dilan</h3>
                        <p>Fui com a Familiam e gostel muito. So a feira que e meio tenso.</p>
                    </ion-label>
                    <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:90%"></span>
                    </div>
                </ion-item>
                <p class="show_more">Ver todos comentarios ></p>
                <div class="ion-text-center comment">
                    <button class="active">Faca um Comentario</button>
                </div>
            </ion-col>
        </ion-row>

        <ion-row class="more_information">
            <div class="ion-text-center title">
                <ion-icon name="information-circle-outline"></ion-icon>
                <p>Mais Informacoes</p>
            </div>
            <div class="contact">
                <ion-row>
                    <ion-col size="6">
                        <div class="telephone">
                            <p class="name">Telefone</p>
                            <p>(12) 3333.0000</p>
                        </div>

                        <div class="telephone">
                            <p class="name">Telefone</p>
                            <p>(12) 3333.0000</p>
                        </div>
                    </ion-col>

                    <ion-col size="6">
                        <div class="telephone">
                            <p class="name">Endereco</p>
                            <p>Rua Lorem Ipsum,</p>
                            <p>Centro - 89 Bloco 2</p>
                        </div>
                    </ion-col>
                </ion-row>

            </div>
        </ion-row>

    </ion-grid>

</ion-content>

<ion-footer>
    <app-footer></app-footer>
</ion-footer>
