<ion-header>
  <ion-toolbar>
    <ion-icon (click)="back()" name="arrow-dropleft-circle"></ion-icon>
  </ion-toolbar>
  <ion-img src="/assets/mark.png"></ion-img>
</ion-header>

<ion-content>

  <ion-grid class="main_content">

    <ion-row class="content_header">
      <ion-col class="header_image" size='12' style="background-image: url('/assets/aparecida.jpg')">
      </ion-col>

    </ion-row>

    <ion-row class="card-content">
      <ion-col size="6">
        <ion-card>
          <img src="/assets/aparecida.jpg" />
          <ion-card-content>
            <p class="title">Festa Sao Benedito</p>
            <p class="sub_title">Dia 18 - 25 Fevereiro</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/minas.jpeg" />
          <ion-card-content>
            <p class="title">Festa Sao Benedito</p>
            <p class="sub_title">Dia 18 - 25 Fevereiro</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/rio.jpg" />
          <ion-card-content>
            <p class="title">Festa Sao Benedito</p>
            <p class="sub_title">Dia 18 - 25 Fevereiro</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/sao-paulo.jpg" />
          <ion-card-content>
            <p class="title">Festa Sao Benedito</p>
            <p class="sub_title">Dia 18 - 25 Fevereiro</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/minas.jpeg" />
          <ion-card-content>
            <p class="title">Festa Sao Benedito</p>
            <p class="sub_title">Dia 18 - 25 Fevereiro</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img src="/assets/rio.jpg" />
          <ion-card-content>
            <p class="title">Festa Sao Benedito</p>
            <p class="sub_title">Dia 18 - 25 Fevereiro</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
