<ion-header>
  <ion-toolbar>
    <ion-icon (click)="back()" name="arrow-dropleft-circle"></ion-icon>
  </ion-toolbar>
  <ion-img src="/assets/mark.png"></ion-img>
</ion-header>

<ion-content>

  <ion-grid class="main_content">

    <ion-row class="content_header">
      <ion-col class="header_image" size='12' style="background-image: url('/assets/aparecida.jpg')">
        <div class="title">
          <p>
            <span class="main">Aparecida</span>
            <span class="sub">San Paulo</span>
          </p>
        </div>
      </ion-col>

    </ion-row>

    <ion-row class="card_container">
      <ion-col size="12">
        <p class="title ion-text-center">Pontos Turisticos</p>
      </ion-col>

      <ion-col size="6">
        <ion-img src="/assets/rio.jpg"></ion-img>
        <p>Basilica Velha</p>
      </ion-col>
      <ion-col size="6">
        <ion-img src="/assets/rio.jpg"></ion-img>
        <p>Basilica Velha</p>
      </ion-col>
      <ion-col size="6">
        <ion-img src="/assets/rio.jpg"></ion-img>
        <p>Basilica Velha</p>
      </ion-col>
      <ion-col size="6">
        <ion-img src="/assets/rio.jpg"></ion-img>
        <p>Basilica Velha</p>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
