<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-dropleft-circle" (click)="back()"></ion-icon>
  </ion-toolbar>
  <ion-img src="/assets/mark.png"></ion-img>
</ion-header>

<ion-content>

  <ion-grid class="main_content">
    <ion-row>
      <ion-col>
        <div class="ion-text-center content_title">
          <h1>Sobre Nos</h1>
        </div>
        <p class="about_us">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliguyam erat, sed diam voluptua. At vero eos et accumsam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        </p>

        <p class="about_us">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliguyam erat, sed diam voluptua. At vero eos et accumsam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        </p>

        <p class="about_us">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliguyam erat, sed diam voluptua. At vero eos et accumsam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        </p>

        <p class="about_us">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliguyam erat, sed diam voluptua. At vero eos et accumsam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        </p>

        <p class="about_us">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliguyam erat, sed diam voluptua. At vero eos et accumsam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        </p>
      </ion-col>
    </ion-row>


  </ion-grid>

</ion-content>


<ion-footer>
  <app-footer></app-footer>
</ion-footer>
