<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="page1">
      <ion-img class="item_image" src="/assets/item1.png"></ion-img>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page2">
      <ion-img class="item_image" src="/assets/item2.png"></ion-img>
      <ion-label>Cidados</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page3">
      <ion-img class="item_image" src="/assets/item3.png"></ion-img>
      <ion-label>Favourite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page4">
      <ion-img class="item_image" src="/assets/item4.png"></ion-img>
      <ion-label>Configuration</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
