ion-tab-bar {
  background-color: #f0f0f0;

  ion-tab-button {
    background-color: transparent;
    margin: 0 20px;

    .item_image {
      padding-top: 2px;
      width: 36px;
    }

    ion-label {
      font-size: 8px;
      margin: 3px 0 0 0;
      color: black;
    }

    &.tab-selected {
      border-top: 3px solid #53de0a;
    }
  }
}


