<ion-buttons class="menu_icon">
  <ion-menu-button></ion-menu-button>
</ion-buttons>

<ion-content>

  <div class="header_content">
    <ion-img class="logo_img" src="/assets/logo.png"></ion-img>
  </div>

  <ion-grid class="main_content">
    <ion-row>
      <ion-col>
        <div class="ion-text-center content_title">
          <h1>Configuracoes</h1>
        </div>
      </ion-col>
    </ion-row>

    <ion-list class="config-list" lines="none">
      <ion-item (click)="openpage9()">
        <ion-icon name="chatboxes"></ion-icon>
        <ion-label>Entre em contato</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Politicas de Privacidade</ion-label>
      </ion-item>
      <ion-item (click)="aboutus()">
        <ion-icon name="contact"></ion-icon>
        <ion-label>Sobre Nos</ion-label>
      </ion-item>
    </ion-list>

    <div class="miral">
      <p>App Mobile Powered by</p>
      <ion-img src="/assets/miral.png"></ion-img>
    </div>
  </ion-grid>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>

