ion-header {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);

  ion-icon {
    font-size: 24px;
    color: grey;
    padding-left: 10px;
    height: 55px;

    &.search {
      margin-right: 10px;
    }
  }

  ion-img {
    background-color: white;
    width: 80px;
    padding: 20px 12px;
    border-radius: 50px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 100;
    top: 10px;
    left: calc(50% - 41px);
  }

}

ion-content {
  .main_content {
    margin-top: 60px;
    padding: 0;

    .content_title {
      h1 {
        font-weight: bold;
        margin: auto;
        color: grey;
      }
    }

    .content_items {
      margin-top: 20px;
      ion-col {
        height: 160px;
        position: relative;
        background-size: cover;
        padding: 0;
        margin: 3px 0;

        div.title {
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.6);

          h1 {
            width: fit-content;
            margin: 0;
            position: absolute;
            font-weight: bold;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
