<ion-buttons class="menu_icon">
    <ion-menu-button></ion-menu-button>
</ion-buttons>

<ion-content>

    <div class="header_content">
        <ion-img class="logo_img" src="/assets/logo.png"></ion-img>
    </div>

    <ion-grid class="main_content">
        <ion-row>
            <ion-col>
                <div class="ion-text-center content_title">
                    <h1>Bem Vindo ao</h1>
                    <h1>Guia Lazer & Negocios</h1>
                    <p>O que esta procurando?</p>
                </div>
            </ion-col>

        </ion-row>
        <ion-row class="ion-text-center button_group">
            <ion-col>
                <button>Estados</button>
            </ion-col>
            <ion-col>
                <button class="active" (click)="cidades()">Todas Cidades</button>
            </ion-col>
        </ion-row>

        <ion-row class="content_items">
            <ion-col size="12" style="background-image: url('/assets/sao-paulo.jpg')">
                <div class="title">
                    <h1>San Paulo</h1>
                </div>
            </ion-col>

            <ion-col size="12" style="background-image: url('/assets/rio.jpg')">
                <div class="title">
                    <h1>Rio de Janeiro</h1>
                </div>
            </ion-col>

            <ion-col size="12" style="background-image: url('/assets/minas.jpeg')">
                <div class="title">
                    <h1>Minas Gerais</h1>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

<ion-footer>
    <app-footer></app-footer>
</ion-footer>

