<ion-header>
  <ion-toolbar>
    <ion-icon (click)="back()" name="arrow-dropleft-circle"></ion-icon>
  </ion-toolbar>
  <ion-img src="/assets/mark.png"></ion-img>
</ion-header>

<ion-content>

  <ion-grid class="main_content">

    <ion-row class="review_container">
      <ion-col size="12">

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-1.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Harry Potter</h3>
            <p>Muito LOKO</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:50%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-2.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Lory Jan</h3>
            <p>Amei o Lugar, super reveptivo e divertido!</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:15%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-3.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Bod Dilan</h3>
            <p>Fui com a Familiam e gostel muito. So a feira que e meio tenso.</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:90%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-1.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Harry Potter</h3>
            <p>Muito LOKO</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:50%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-2.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Lory Jan</h3>
            <p>Amei o Lugar, super reveptivo e divertido!</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:15%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-3.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Bod Dilan</h3>
            <p>Fui com a Familiam e gostel muito. So a feira que e meio tenso.</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:90%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-1.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Harry Potter</h3>
            <p>Muito LOKO</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:50%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-2.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Lory Jan</h3>
            <p>Amei o Lugar, super reveptivo e divertido!</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:15%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-3.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Bod Dilan</h3>
            <p>Fui com a Familiam e gostel muito. So a feira que e meio tenso.</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:90%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-1.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Harry Potter</h3>
            <p>Muito LOKO</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:50%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-2.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Lory Jan</h3>
            <p>Amei o Lugar, super reveptivo e divertido!</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:15%"></span>
          </div>
        </ion-item>

        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="/assets/team-3.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Bod Dilan</h3>
            <p>Fui com a Familiam e gostel muito. So a feira que e meio tenso.</p>
          </ion-label>
          <div class="star-ratings-sprite"><span class="star-ratings-sprite-rating" style="width:90%"></span>
          </div>
        </ion-item>

        <p class="show_more">Ver todos comentarios ></p>
        <div class="ion-text-center comment">
          <button class="active">Faca um Comentario</button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
